hyperparameters:
  batch_size: 16
  epochs: 10
  lr: 0.001
  hidden_size: 64
  num_layers: 2
  dropout: 0.3
  seq_len: 10

training:
  train_split: 0.8
  seed: 42

paths:
  dataset: "data/processed/processed_data.csv"
  model_dir: "models"

wandb:
  project: "football-lstm"
  entity: "tyranguyen7-danmarks-tekniske-universitet-dtu"
  mode: "online"